*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
}
@media only screen and (max-width:425px){

header{
	width:100%;
	height:5vh;
	z-index:4000;
	background-color:#ea4e8B;
	position:fixed;

}
header h2{
	text-align:center;
	color:white;
	font-size:1.3em;
	height:5vh;
	z-index:5000;
}
.menu-icon{
	position:absolute;
	font-size:1.5em;
	color:white;
	padding:1%;
	margin-top:-3.5%;
	margin-left: -61%;
	z-index:9999;

}
#chk{
	display:none;
}
.menu{
	height:100%;
	position:fixed;
	z-index:6600;
	background-color:rgba(0, 0, 0, 0.8);
	overflow:hidden;
	transition: all .5s;
}
#principal{
	width:100%;
	left:-110%;
	top:11%;
	background-color:#20e8f0;
	height:auto;
	position:fixed;
	border-top:1px solid white;
	z-index:5088;


}
#home_fundo {
	background-color:#F0F8FF;
}

ul{
	list-style:none;
}
ul li a{
	display:block;
	font-size:20px;
	padding:5%;
	border-bottom: solid 1px white;
	color:white;
	text-decoration: none;
	font-family:tahoma;
	text-align: left;
}
a:hover{
	color:black;
	font-weight:bold;
}
.voltar{
	background-color:black;
	border-left: solid 8px #696969;
}
#chk:checked ~ #principal{
	transform:translateX(110%);
}

#conversas_fundo {
	background-color:#F0F8FF;
}
.header_menu {
	width: 100%;
	padding:2%;
	background-color:#20e8f0;
	color: white;
	text-align: center;
	font-size: 1.2em;
	position:fixed;
	margin-top:7%;
	z-index: 99999;

}

.teste_quadrado { 
	border:1px solid;
	width:100px;
	height:100px;
	position:relative;
	top:80px;
	overflow:hidden;
	z-index:0;
	border-radius:100%;
	left:10px;
	margin-bottom:2%;
 }

